.main-layout {
  height: 100%;
}

.main-layout .ant-layout {
  height: 100%;
}

.main-layout .ant-layout-header {
  height: 124px !important;
}

.main-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.main-layout .trigger:hover {
  color: #1890ff;
}

.main-layout__header {
  background: #f0f2f5 !important;
  padding: 0 !important;
  display: flex;
}

.main-layout__content {
  background: #ffffff !important;
  padding: 16px;
}

.main-layout__header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
